body {
  background-color: yellow;
  font-family: serif;
  font-size: 1.6em;
}

a {
  text-decoration: none;
}

.error {
  background-color: red;
}

.confirm {
  background-color: green;
}

.writer {
  font-family: sans-serif;
}
